
.page figure {
  margin: 15px 100px 10px;
  size: 10%;
 }
.page img {
  max-width: 100%; }
.page .book-title {
  font-size: 25px;
  font-family: "fontAwesome";
  font-weight: 300; }

.bookthumbnail{
  size: 500px;
}
.book-poster {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid transparent; 
  display: block;
  width: 400px;
  height: auto;
}

.main-content .container {
  
  background: white;
  border-radius: 5px;
  width:auto;
  height: auto;
  padding: 30px; }


  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1; }
    .container:after {
      content: " ";
      clear: both;
      display: block;
      overflow: hidden;
      height: 0; }
    @media (min-width: 768px) {
      .container {
        width: 750px; } }
    @media (min-width: 992px) {
      .container {
        width: 970px; } }
    @media (min-width: 1200px) {
      .container {
        width: 1170px; } }
  
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1; }
    .container-fluid:after {
      content: " ";
      clear: both;
      display: block;
      overflow: hidden;
      height: 0; }


.row {
  margin-left: -15px;
  margin-right: -15px;
  *zoom: 1; }
  .row:after {
    content: " ";
    clear: both;
    display: grid;
    overflow: hidden;
    height: 0; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
.col-sm-3{
  text-align: center;
  padding: 10px 100px 10px;
  width: 400px;
  height: auto;
}

.col-md-1{
  padding: 10px 10px 10px;
  width: 600px;}
  .book-title{
    margin: 0px 0px;

  }



.filters {
  margin-bottom: 0px;
   }
  .filters select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 50px 10px 10px;
    background-color: #e7e7e7;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    outline: none;
    /*background-image: url(/frontend/src/images/select.png);*/
    background-repeat: no-repeat;
    background-position: 100% center; }




    