.App {
  display: grid;
  grid-gap: 100px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  color: #444;
}


.App-header {
  background-color: #2c4983;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(63, 11, 11);
}

.content {
  grid-area: content;

  font-size: 24px;
  align-self: center;
  justify-self: center;
}

.header {
  grid-area: header;
  background-color: transparent;
}

.footer {
  grid-area: footer;
  align-self: center;
  justify-self: center;
  font-size: 16px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

.App-link {
  color: #61dafb;
}
